* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/whitewall1.jpg");
    font-family: 'Germania One';
    font-style: normal;
    font-weight: 400;
    max-width: 960px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0%;
   
}

.boxflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    padding-top: 60px;
    height: 60px;
    margin-top: 120px;
    font-size: 40px;
    margin-bottom: 80px;
    
}

.btn-default {
    background-color: brown;
}

button {
    width: 200px;
    border: 5px;
    margin: 5px;
}

button:focus {
    outline: 0 !important;
}

.questions {
    width: 100%;
    text-align: center
}

#begin {
  
    width: 80px;
}

#question {
    color:#213D5C;
}